.stopwatch__start,
.stopwatch__pause,
.stopwatch__reset {
	flex: 1;
	height: 40px;
	background-color: green;
	font-size: 16px;
	color: #fff;
}

.stopwatch__time {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	font-size: 45px;
}

.blink {
	animation: blink-animation 800ms steps(5, start) infinite;
	-webkit-animation: blink-animation 800ms steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
